<%# <h1><%= binding.pry %></h1> %>
<h1><%= @pirate[:name] %></h1>
<p><%= @pirate[:weight] %></p>
<p><%= @pirate[:height] %></p>


<h2><%= @ship_one[:name] %></h2>
<p><%= @ship_one[:type] %></p>
<p><%= @ship_one[:booty] %></p>


<h2><%= @ship_two %></h2>
<p><%= @ship_two[:type] %></p>
<p><%= @ship_two[:booty] %></p>
