<h1>Display your Pirate here</h1>
    <h2><%=@name%></h2>
    <h2><%=@weight%></h2>
    <h2><%=@height%></h2>

<h2>Display your first ship here</h2>
    <h2><%=@sh1_name%></h2>
    <h2><%=@sh1_type%></h2>
    <h2><%=@sh1_booty%></h2>

<h2>Display your second ship here</h2>
    <h2><%=@sh2_name%></h2>
    <h2><%=@sh2_type%></h2>
    <h2><%=@sh2_booty%></h2>